<%= form_with(model: dynasty, local: true) do |form| %>
  <% if dynasty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dynasty.errors.count, "error") %> prohibited this dynasty from being saved:</h2>

      <ul>
      <% dynasty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label  t("dynasties.name")%>
    <%= form.text_field :dy_name, id: :dynasty_dy_name %>
    
  </div>
  <div class="field">
   <label for="file-input">
     <span class="glyphicon glyphicon-camera"></span>
   </label>
    <%= form.label t("dynasties.image") %>
    <%= form.file_field :dy_image, id:"file-input" %>  
  </div>

  <div class="actions">
    <%= form.submit t("dynasties.create")%>
  </div>
<% end %>
