<% @dynasty.cities.each do |ruler| %>
  <% City.find(dynasty_id: ruler.dynasty_id, ruler_id: ruler.id ) do |city| %>
  <%=@dynasty.dy_name  %>
  <%=ruler.id  %>
      <div class="col-sm-4">
        <div class="container"> 
       <%=link_to image_tag("#{city.c_image}".html_safe ,width: 350, height:350),city_url(city.id)%>
       <h2><%= link_to city.c_name, @dynasty %>   </h2>
       <p>
        <%= link_to 'Edit', edit_city_url(city)%> |
        <%= link_to 'Back', root_path %> |
        <%= link_to 'show', @dynasty %>
       </p> 
        </div>
     
    </div>
</p>
<% end %>
<% end %>