<p id="notice"><%= notice %></p>


<% @dynasties.each do |dynasty| %>
    <div class="pics">
        <%=link_to image_tag("#{dynasty.dy_image}".html_safe ,width: 200, height:200),dynasties_probe_path(dynasty)%>
       <h4><%= link_to dynasty.dy_name, dynasties_probe_path(dynasty)%>   </h4>
        <%= link_to t('dynasties.edit'), edit_dynasty_url(dynasty)%> |
        <%= link_to t("dynasties.del"), dynasty, method: :delete, data: { confirm: 'Are you sure?' } %> 
       
     
    </div>
    <% end %>

<br>
<br>


