
<div class="container">
  <span style="float:right;"><h3><%= link_to t("dynasties.back"), root_path %></h3></span>
  <span style="float:left;"> 
   <h3><%= t"dynasties.ruler_index"%> <%= @dynasty.dy_name %> </h3>
  </span>
</div>
</br>


<% @dynasty.rulers.each do |ruler| %>
<div class="pics">
    <figure>
    <%=link_to image_tag("#{ruler.ru_image}".html_safe ,width: 200, height:200),ruler_url(ruler.id)%>
    <figcaption><h4><%= link_to ruler.ru_name, ruler_url(ruler.id) %></h4></figcaption>
     <%= link_to t("dynasties.edit"), edit_ruler_url(ruler)%> |
     <%= link_to t("dynasties.back"), root_path %> |
     <%= link_to t("dynasties.del"), ruler, method: :delete, data: { confirm: 'Are you sure?' } %> 
    </figure>
</div>

<% end %>
<br>
<br>
<div class="add">
<div class="container"> 
<h2><%= t"dynasties.ruler_add"%> </h2>
<%= form_for([@dynasty, @dynasty.rulers.build]) do |f| %>
  <p>
    <%= f.label t("dynasties.rulers_name") %><br>
    <%= f.text_area :ru_name %>
  </p> 
  <p>
    <%= f.label t("dynasties.image") %>
    <%= f.file_field :ru_image %>
  </p>
    <%= f.hidden_field :dynasty_id ,value: @dynasty.id%>
  <p>
    <%= f.submit t("dynasties.ruler_add") %>
  </p>
<% end %>
</div>
</div>

