<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t("cities.city_name") %>
    <%= form.text_field :c_name, id: :city_c_name %>
  </div>

  <div class="field">
    <%= form.hidden_field :ruler_id, id: :city_ruler_id  %>
  </div>

  <div class="field">
    <%= form.hidden_field :dynasty_id, id: :city_dynasty_id  %>
  </div>
  <div class="field">
    <label for="file-input">
      <span class="glyphicon glyphicon-camera"></span>
    </label>
    <%= form.label t("dynasties.image") %>
    <%= form.file_field :c_image ,id:"file-input" %>
   </div>

  <div class="actions">
       <%= form.submit t("dynasties.create")%>
  </div>
<% end %>
